*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
:root{
    --green:#229274;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.close{
    font-size: 30px;
    font-weight: 600;
    color: var(--green);
    margin-bottom: 30px;
    margin-right: 60px;
}
.link{
    font-size: 25px;
}

.head{
    width: 100%;
    height: 40px;
    background-color: black;
    display: flex;
    align-items: center;
    

}
.btn{
    text-decoration: none;
    color: white;
    
}

.btn1{
    width: auto;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left:10px;
    padding-right: 10px;


}

.logo{
    width: auto;
    height: 40px;
    background-color:var(--green);
    display: flex;
    align-items: center;
    padding-right: 15px;
}

.iconhome{
    color: white;
    width: 20px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right:25px ;
    padding-bottom: 20px;
}
.search{
    color: white;
    width: 50px;
    height: 60px;
    display: flex;
    align-items: center;
    margin-left: 860px;
    padding-left:25px ;
}
.search:hover{
    background-color: var(--green);
}

.img{
    width: 100%;
    height: 570px;
    display: flex;
    position: absolute;
}
.btnimg{
    width: 200px;
    height: 50px;
    font-size:28px;
    font-weight: 500;
    background-color: black;
    color: white;
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-top: 470px;
    

}

.btnimg:hover{
    background-color: var(--green);
    border: none;
    cursor: pointer;
}

.h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-top: 150px;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.person{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    
}
.person1{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.avatar{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.avatar:hover {
    opacity: 0.7;
}

.card1{
    display: flex;
    font-size: 25px;
    margin-top: 20px;
}

.card2{
    display: flex;
    font-size: 20px;
    margin-top: 20px;
}

.cont{
    display: flex;
    width: 100%;
    height: 550px;
    background-color: rgb(51, 49, 49);
    margin-top: 50px;
}

.work{
    font-size: 30px;
    color: white;
    margin-left: 20px;
    margin-top: 50px;
}
.p{
    
    color: white;
    margin-left: 20px;
    margin-top: 10px;
}
.cardp1{
    width: 25%;
}
.cardi1{
    width: 23%;
    height: 450px;
    display: flex;
    background-color: white;
    margin-left: 10px;
    flex-direction: column;
    margin-top: 25px;
}

.customer{
    font-size: 20px;
    padding-left: 10px;
    padding-top: 10px;
}
.trad{
    padding-left: 10px;
    padding-top: 10px;
}
.Bla{
    padding-left: 10px;
    padding-top: 10px;
}

.rightmenu{
    width: 50px;
    height: 50px;
    display: flex;
    background-color:var(--green) ;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size:20px ;
    font-weight: 500;
    color: white;
    margin-top: -30px;
    margin-left: 1260px;
    text-decoration: none;
}

.pric{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 25px;
}

.contpric{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.cardpric{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.cardpric2{
    display: flex;
    flex-direction: column;
    width: 32%;
    height: 570px;
    border: 0.05px solid rgb(173, 172, 172);
    margin-top: 40px;
    
}
.cardpric2:hover{
    box-shadow: 3px 3px 6px 2px rgb(192, 186, 186);
}

.titlepric{
    width: 100;
    height: 100px;
    background-color: black;
    color: white;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    padding-top: 30px;

}
.titlepric2{
    width: 100;
    height: 100px;
    background-color: rgb(95, 95, 95);
    color: white;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    padding-top: 30px;
}
.table{
    width: 100;
    height: 70px;
    border-bottom: 0.25px solid rgb(173, 172, 172);
    text-align: center;
    padding-top: 20px;
}

.table1{
    width: 100;
    height: 120px;
    border-bottom: 0.25px solid rgb(173, 172, 172);
    text-align: center;
    padding-top: 25px;
}
.money{
    font-size: 25px;
}
.btnp{
    width: 100;
    height: 80px;
    text-align: center;
    padding-top: 5px;
    background-color: rgb(233, 233, 233);
}

.btnpric{
    width: 120px;
    height: 40px;
    background-color: var(--green);
    color: white;
    text-align: center;
    margin-top: 20px;
    border: none;
}
.imgpric{
    color: white;
}

.form{
    width: 100%;
    height: 450px;
    background-color: rgb(231, 231, 231);
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.info{
    display: flex;
    flex-direction: column;
    margin-left: 20px;

}
.contact{
    font-size: 25px;
    margin-top: 70px;
    text-decoration: underline 6px var(--green);
}
.address{
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    
}
.swing{
    margin-bottom: 15px;
}

.size{
    width:25px;
    height:25px;
}
.pid{
    width: 60%;
    display: flex;
    justify-content: flex-end;
    margin-top: 70px;
    margin-right: 25px;
}

.id{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    background-color: white;
    box-shadow: 3px 3px 20px 2px rgb(151, 151, 151);
}
.inp{
    border: 1px solid rgb(197, 194, 194);
   border-top: none;
   border-left: none;
   border-right: none;
    margin: 10px 20px;
    border-radius: 3px;
}
.name{
    margin-top: 20px;
}

.tit{
    margin-left: 15px;
}
.submit{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.check{
    margin-left: 20px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.incheck{
     width: 25px;
    height: 25px;
    border-radius: 2px;
    padding-top: 15px;
}

.checkbox{
 padding-left: 10px;
}

.send{
    margin-right: 20px;
    margin-top: 10px;
}

.map{
    width: 100%;
    height: 700px;
    
}

.footer{
    width: 100%;
    height: 300px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.follow{
    font-weight: 300;
    color: white;
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
}
.social{
    display: flex;
    justify-content: center ;
    align-items: center;
}
.power{
    font-weight: 300;
    color: white;
    text-align: center;
    margin-top: 15px;

}
.btnfooter{
    width: 50px;
    height: 50px;
    background-color: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    padding-right: 0px;
    padding-left: 25px;

}

.goup{
display: flex;
justify-content: right;
width: 200px;
margin-left: 1130px;
margin-top: 20px;
}
@media only screen and (max-width: 600px) {
    .flexy{
        flex-wrap: wrap;
    }
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }

